
@{
    ViewData["Title"] = "ProductEdit";
}

<h2>Index</h2>

<body>
    <div class="central">

        @await Component.InvokeAsync("CategoryCreation")

        @await Component.InvokeAsync("ProductCreation")

    </div>
</body>