
@{
    ViewData["Title"] = "ProductEditInformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<body>

    @await Component.InvokeAsync("ProductEdit", @ViewBag.Productid)

</body>
</html>

