@model  List<Category>
@{
    ViewData["Title"] = "Поиск продуктов";
}


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/jstree/dist/jstree.js"></script>
</head>
    <body>

        <div id='treeview'></div>


        <div class="AllProducts">
            <div class="ProductsSearch">
                <form id="SearchByCategoryForm" method="post">

                    <input type="text" name="CategoryForSearch" /> Поиск по категории
                    <input type="submit" value="Найти" />
                </form>
            </div>

            @await Component.InvokeAsync("MarketSearch")


        </div>



    </body>
<script>

    $('#treeview').jstree({
        "plugins": ["search", "wholerow"],
        'core': {
            'data': {
                'url': function (node) {
                    return node.id === '#' ? "/Treeview/GetRoot" : "/Treeview/GetChildren/" + node.id;

                },
                'data': function (node) {
                    return { 'id': node.id };
                }
            }
        }
    });

    $('#treeview').on('changed.jstree', function (e, data) {
        console.log("=> selected node: " + data.node.id);
    });

</script>


