
@{
    ViewData["Title"] = "ProductInfo";

    //Layout = "~/Views/MarketSearch/Index.cshtml";
}


<body>

    @await Component.InvokeAsync("ProductInfo", @ViewBag.Productid)
  
    @await Component.InvokeAsync("RelativeProducts", @ViewBag.Productid)

</body>

