@model IEnumerable<Product>
@{
    Layout = null;
}

<!DOCTYPE html>

<body>
    <div class="RelativeProducts">
        <h3>Аналогичные товары</h3>
        @foreach(var @element in Model)
        {
        <div class="MiniProductInfo">
            <a href="/MarketSearch/ShowProductInfo/@element.ProductId">@element.Name</a>
            <p>@element.Price</p>
        </div>
        }
    </div>

</body>

