
@{
    Layout = null;
}


<div class="ProductCreation">
    <div id="ProductCreationErrorView"></div>
    <form id="ProductCreationForm" method="post">
        <label>Название продукта</label><br />
        <input type="text" name="ProductName" /> <br /><br />
        <label>Категория</label><br />
        <input type="text" name="CategoryName" /><br /><br />
        <label>Описание</label><br />
        <input type="text" name="ProductDescription" /> <br /><br />
        <label>Цена</label><br />
        <input type="text" name="ProductPrice" /> <br /><br />
        <label>Производитель</label><br />
        <input type="text" name="ProductManufacturerName" /> <br /><br />
        <input type="button" onclick="SubmitProductCreation()" value="Создать" />
    </form>

</div>
