
@{
    ViewData["Title"] = "Authorization";
}


<body>
    <div class="loginForm" style="width: 300px; height:400px; margin: 0 auto">
        <h3>Вход на сайт</h3>
        <label>Введите email</label><br />
        <input type="email" id="emailLogin" /> <br /><br />
        <label>Введите пароль</label><br />
        <input type="password" id="passwordLogin" /><br /><br />
        <input type="submit" id="submitLogin" value="Логин" />
    </div>
</body>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
